*{
    font-family: 'Inconsolata', monospace;
}
.top {
    top: 0.5em;
}
.rating1{
    filter: brightness(0.20)
}
.rating2{
    filter: brightness(0.40)
}
.rating3{
    filter: brightness(0.60)
}
.rating4{
    filter: brightness(0.80)
}
.rating5{
    filter: brightness(1)
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}


/* .grid2>div{
    overflow: hidden;
} */
.career {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: row2-start;
    grid-row-end: 4;
}

.p15{
    padding: 1.5rem;
}
.ptop{
    padding-top: 0.6em;
}

body {
    margin: 1rem;
}

.imgRound {
    border-radius: 50%;
}

.groovebordered{
    border: 4px groove #7f7f7f;
}

.dgrey{
    color: #404040;
}
.lgrey{
    color: #7f7f7f;
}

.link>a{
    font-size: 0.5em;
    text-decoration: none;
}

.header{
    padding-top: 2em;
    font-weight: bolder;
    font-size: 2rem;
}

.right{
    text-align: right;
}

.centered{
    text-align: center;
}

.left{
    text-align: left;
}

.pb1{
    padding-bottom: 1rem;
}
.pbhalf{
    padding-bottom: 0.5rem;
}

.t8{
    font-size: 0.8rem;
}
.t6{
    font-size: 0.6rem;
}
.t1{
    font-size: 1.5rem;
}
.bold{
    font-weight: bolder;
}



.pl0{
    padding-left: 0;
}
.pill {
    background: lightgrey;
    border-radius: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pill+.pill{
    margin-right:1em;
    margin-left:1em;
}

.hflex{
    display:flex;
    flex-direction: row;
    align-content: space-between;
}
.flex{
    flex:1;
}

.mdot::before{
    /* content: '>'; */
    content: "\237f";
    /* border-left:1px solid black; */
}

.ul{
    text-decoration: underline;
}

.brdrc{
    border-color: grey;
}

.brddotted{
    border-left-style: grey;
}

.bkgrlb{
    background: lightblue;
}

.ldot::before{
    content: '\b7';
    position: absolute;
    left: 32.3%;
    margin-bottom: 31em;
    font-size: 2rem;
}


.description{
    padding-left: 1.3em;
    text-align: justify;
}

.black{
    border-radius: 3px;
    background: #222;
    color: #222;
    margin-right:0.2em;
    margin-left:0.2em
}

.grey{
    background: #777;
    color: #777;
    border-radius: 3px;
    margin-right:0.2em;
    margin-left:0.2em
}

.ptopmore{
    padding-top: 1em;
}

.heading{
    padding-top: 1em;
}

.pleft{
    padding-left: 1em;
}

.grid2 {
    display: flex;
    flex-direction: column;
}
.grid2>div{
    text-align: center;
    padding-top: 1em;
}
.piped{
    border: 0px;
}
.dot{
    display: none;
}
.mleft{
    text-align: left;
}


  .fwmob{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .fwmob .imgRound{
    background-size: cover;
    background-repeat: no-repeat;
    height: 240px;
    width: 240px;
  }
  .blackbg{
      background: black;
  }
  .whitebg{
    background: white;
    }
  .vflex{
      display: flex;
      flex-direction: column;
  }
  .wtext{
      color: white;
  }
  .flex1{
      flex: 1;
  }
  .flex2{
      flex: 2;
  }
  .flex3{
      flex: 3;
  }
  .flex4{
      flex: 4;
  }

 /**
 * Icon
 */

.shine {
    position: relative;
  }
.xshine {
    position: relative;
  }
  
  /**
   * The "shine" element
   */
  .xshineAfter{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    transform: rotate(0deg);
    background: rgba(255, 255, 255, 0.13);
    /* background: linear-gradient( to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% ); */
    background: radial-gradient(ellipse at 0% 0%, rgba(255,255,255,0.5), rgba(0,0,0,0.5));
    border-radius: 50%;
  }
  .shine:after {
    
    /* animation: shine 5s ease-in-out  infinite;
    animation-fill-mode: forwards;   */
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 140%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
  /* Hover state - trigger effect */
  
  
  /* Active state */
  
  .shine:active:after {
    opacity: 0;
  }
  
  @keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }

  .insetbkgr{
    border: 1em inset grey;
  }

@media all and (min-width: 500px) {
    
    .dot{
        display: inline-block;
        position: relative;
        left: -1.4em;
    }
    .piped{
        border-left: 1px solid lightgrey;
        padding-left: 1em;
    }
    .grid2{
        display: grid;
        grid-template-columns: 30% auto;
        /* grid-template-rows: repeat(auto-fill, min); */
        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
        grid-gap: 1rem;
    }
    .grid2>div{
        text-align: initial;
        padding-top: 0em;
    }
    .grid3{
        display: grid;
        grid-template-columns: 20% 10% auto;
        grid-gap: 1rem;
    }
    .mleft{
        text-align: initial;
    }
    .description {
        padding-left: 1.3em;
        text-align: justify;
    }
    .pcentered{
        text-align: center;
    }
    .fwmob{
        display: none;
    }
    .shine:after{
        display: none;
    }
    
}

@media print {
    .pcentered{
        padding-left: 13%;
    }
    .grid3{
        display: grid;
        grid-template-columns: 5% 10% auto;
        grid-gap: 1.5rem;
    }
}